* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;


}

img {
  width: 100%
}

h1 {
  margin-bottom: 3rem;
}

a:link {
  
  text-decoration: none;
  
}

main {
  min-height: 85vh;
  background-color: rgb(247, 243, 30);
  padding-top: 5rem;

}

/* navbar */

.navbar-top {
  background-color: rgb(28, 29, 28);
  opacity: 0.9;
  position: sticky;
  top: 0;
  z-index: 10;

}

.cartNr {
  background: white;
  color: black;
  padding: 3px 5px;
}

.trash {
  display: flex;
  justify-content: center;
  align-items: center;


}

.trashCan {
  cursor: pointer;
  color: rgb(138, 12, 12);

}



/* footer */

footer {
  background-color: rgb(60, 61, 60);
  height: 200px;
  display: grid;
  justify-content: center;
  align-items: center;
}
ul {
  text-align: center;

}
ul li{
  display: inline-block;
}

